.space{
    margin: 60px 120px;
    
}

.menu {
    padding-left: 469px;
}

.menu a {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    margin: 0 10px;
    padding-left: 10px;
    color: black;
}

.menu a:hover {
    color: rgb(red, green, blue);
}



/*.design a{
   
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    background-color: #ff2b85;
    font-family: monospace;
    border-radius: 25px;
}*/


.banner {
    background: url(../image/banner1.jpeg);
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    /*background-attachment: fixed;*/
}

.banner h1 {
    text-align: center;
    color: MEDIUMBLUE;
    ;
    font-size: 60px;
    font-family: cursive;
    padding-top: 185px;

}


.banner h2 {
    text-transform: uppercase;
    color: red;
    text-shadow: #8b1005;
    font-size: 30px;
    width: 52%;
    margin: auto;
    position: relative;
    top: 226px;
    left: 26px;
    border-radius: 11px;
}


.banner h4 {
    position: relative;
    top: 230px;
    font-size: 22px;
    color: red;
    text-shadow: #8b1005;

}

.banner input {
    background: black;
    width: 600px;
    height: 45px;
    margin: auto;
    position: relative;
    top: 244px;
    left: 69px;
    box-shadow: 3px 4px 8px #8b1005;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 7px;
    padding-left: 16px;
}

::placeholder {
    color: #8b1005;
}

.news {
    padding: 13px 190px;
    width: 100%;
    height: 50px;
    margin-top: -20px;
    background: #ff2b85; 

}

.news marquee {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 30px;

}


.sec-1 {
    display: flex;
    justify-content: center;
   
}

.box {
    position: relative;
    cursor: pointer;
    width: 265px;
    height: 245px;
    margin: 3px 5px;
/*    transition: all 0.2s;*/
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 1px 2px rgb(173, 173, 173);
    background-color: rgb(243, 240, 240);
}

.box img {
    width: 100%;
    border-radius: 15px;
    border: 1px solid rgb(204, 203, 203);

}
.white {
    position: absolute;
    bottom: 3px;
    align-items: center;
    border-radius: 0 0 15px 15px;
    background-color: white;
    width: 100%;
    height: 25%;

}

.white p {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    color: rgb(56, 56, 56);
    letter-spacing: 0.7px;
}
.sec-2 h2 {
    font-size: 38px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.sec-2 div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.sec-2 h6 {
    margin: 0;
    font-size: 17px;
    font-weight: lighter;
    color: rgb(99, 98, 98);
}

.fa-caret-right,
.sec-2 span {
    color: rgb(248, 117, 117);
}

.box-1 {
    width: 270px;
    height: 300px;
    overflow: hidden;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
}

.box-1 div {
    position: absolute;
    background: linear-gradient(transparent, black);
    width: 100%;
    height: 25%;
    display: flex;
    align-items: flex-end;
    bottom: 0;
}

.box-1 div span:first-child {
    display: inline-block;
    color: white;
    padding-left: 15px;
    font-size: 18px;
    padding-bottom: 5px;
}

.box-1 i {
    color: white;
    padding-bottom: 15px;
}

.box-1 img {
    width: 270px;
    height: 300px;
    object-fit: cover;
    
    
}
.sec-3 {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 130px;
}

    .sec-4{
       display: grid;
       justify-content: center;
       grid-column-gap:20px;
       grid-row-gap:30px ; 
       grid-template-columns:340px 340px 340p ;

    }
    .box-2{
        border: 1px(235,233,233);
        box-shadow: 0 1px 3px rgb(226 223 223);
        width: 340px;
        height: 60px;
        overflow: hidden;
        border-radius: 10px;
        cursor: pointer;
    }

    .box-2 div{
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;
    }

